#########################################
# GPT Sprachsteuerung - Dummy
#########################################
define GptVoiceCommand dummy

attr GptVoiceCommand DbLogExclude .*
attr GptVoiceCommand event-on-update-reading .*
attr GptVoiceCommand room Sprachsteuerung
#########################################
# Küche - Licht
#########################################
define di_gpt_kuechenlicht DOIF ([GptVoiceCommand] =~ /K(ü|ue)che.*Licht.*(an|ein|einschalten|eingeschaltet)/i ) (set HM_62CD38 on) DOELSEIF ([GptVoiceCommand] =~ /K(ü|ue)che.*Licht.*(aus|abschalten|ausgeschaltet)/i ) (set HM_62CD38 off) DOELSE (set Logfile GPT-UNKNOWN: $EVENT)

attr di_gpt_kuechenlicht room Sprachsteuerung
#########################################
# Wohnzimmer - Licht
#########################################
define di_gpt_wohnzimmerlicht DOIF ([GptVoiceCommand] =~ /(W|w)ohnzimmer.*Licht.*(an|ein|einschalten|eingeschaltet)/i ) (set wz_licht_2 on) DOELSEIF ([GptVoiceCommand] =~ /(W|w)ohnzimmer.*Licht.*(aus|abschalten|ausgeschaltet)/i ) (set wz_licht_2 off) DOELSE (set Logfile GPT-UNKNOWN: $EVENT)

attr di_gpt_wohnzimmerlicht DbLogExclude .*
attr di_gpt_wohnzimmerlicht room Sprachsteuerung
#########################################
# Esszimmer - Licht
#########################################
define di_gpt_esszimmerlicht DOIF ([GptVoiceCommand] =~ /(E|e)sszimmer.*Licht.*(an|ein|einschalten|eingeschaltet)/i ) (set wz_licht_1 on) DOELSEIF ([GptVoiceCommand] =~ /(E|e)sszimmer.*Licht.*(aus|abschalten|ausgeschaltet)/i ) (set wz_licht_1 off) DOELSE (set Logfile GPT-UNKNOWN: $EVENT)

attr di_gpt_esszimmerlicht DbLogExclude .*
attr di_gpt_esszimmerlicht room Sprachsteuerung
#########################################
# Dielen - Licht
#########################################
define di_gpt_dielenlicht DOIF ([GptVoiceCommand] =~ /(D|d)ielen.*Licht.*(an|ein|einschalten|eingeschaltet)/i ) (set HM_6648C9 on) DOELSEIF ([GptVoiceCommand] =~ /(D|d)ielen.*Licht.*(aus|abschalten|ausgeschaltet)/i ) (set HM_6648C9 off) DOELSE (set Logfile GPT-UNKNOWN: $EVENT)

attr di_gpt_dielenlicht DbLogExclude .*
attr di_gpt_dielenlicht room Sprachsteuerung
#########################################
# Küchen Rollade
#########################################
define di_gpt_Rollade_Kueche DOIF ([GptVoiceCommand] =~ m/^K(ü|ue)che Rollade runter$/) (sleep 1)(set Roll_Kueche off) DOELSEIF ([GptVoiceCommand] =~ m/^K(ü|ue)che Rollade hoch$/) (set Roll_Kueche pct 100)(sleep 1)(set Roll_Kueche on) DOELSEIF ([GptVoiceCommand] =~ m/^K(ü|ue)che Rollade (\d{1,3})$/) (set Roll_Kueche pct $1)

attr di_gpt_Rollade_Kueche DbLogExclude .*
attr di_gpt_Rollade_Kueche room Sprachsteuerung
