#########################################
# GPT Sprachsteuerung - Dummy
#########################################
define GptVoiceCommand dummy
setuuid GptVoiceCommand 67faaada-f33f-824d-a05b-b80473f3bcab543f
attr GptVoiceCommand DbLogExclude .*
attr GptVoiceCommand event-on-update-reading .*
attr GptVoiceCommand room Sprachsteuerung
#########################################
# GPT Rolladen-Position für alle Räume
#########################################
define Dummy_Helper dummy
setuuid Dummy_Helper 6805d308-f33f-824d-74ce-520c5392152d53eb
attr Dummy_Helper DbLogExclude .*
attr Dummy_Helper room Sprachsteuerung

define DOIF_RunRolladen DOIF ([Dummy_Helper] =~ /SetRolladenByRoomPct/) ({ SetRolladenByRoomPct() }) DOELSE ({ Log 3, "❓ Ignoriert durch DOIF_RunRolladen: $EVENT" })
setuuid DOIF_RunRolladen 6806382a-f33f-824d-a52d-be1df17a1110a8bc
attr DOIF_RunRolladen DbLogExclude .*
attr DOIF_RunRolladen do always=1
attr DOIF_RunRolladen event-on-update-reading .*
attr DOIF_RunRolladen room Sprachsteuerung

define di_gpt_roll_pct_all DOIF ([GptVoiceCommand] =~ /(K(ü|ue)che|Wohnzimmer|Esszimmer|Schlafzimmer|Bad|Diele|Terrassent(ü|ue)r|Markise).*Rollade.*?(\d{1,3})/) ({ Log 1, "🎯 di_gpt_roll_pct_all: Match: $EVENT";; fhem("set Dummy_Helper Trigger SetRolladenByRoomPct") }) DOELSE ({ Log 3, "❓ Ignoriert durch di_gpt_roll_pct_all: $EVENT" })
setuuid di_gpt_roll_pct_all 6805d308-f33f-824d-0a07-b1c38111de467b44
attr di_gpt_roll_pct_all do always=1
attr di_gpt_roll_pct_all event-on-update-reading .*
attr di_gpt_roll_pct_all room Sprachsteuerung

#########################################
# Küche - Licht
#########################################
define di_gpt_kuechenlicht DOIF ([GptVoiceCommand] =~ /K(ü|ue)che.*Licht.*(an|ein|einschalten)/i ) (set HM_62CD38 on) DOELSEIF ([GptVoiceCommand] =~ /K(ü|ue)che.*Licht.*(aus|auschalten)/i ) (set HM_62CD38 off) DOELSE ({ Log 3, "❓ Ignoriert: $EVENT" })
setuuid di_gpt_kuechenlicht 67fbbdbe-f33f-824d-0ecc-746c780aff0d3201
attr di_gpt_kuechenlicht room Sprachsteuerung
#########################################
# Wohnzimmer - Licht
#########################################
define di_gpt_wohnzimmerlicht DOIF ([GptVoiceCommand] =~ /(W|w)ohnzimmer.*Licht.*(an|ein|einschalten)/i ) (set wz_licht_2 on) DOELSEIF ([GptVoiceCommand] =~ /(W|w)ohnzimmer.*Licht.*(aus|ausschalten)/i ) (set wz_licht_2 off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_wohnzimmerlicht 67fbbdbe-f33f-824d-1aee-2b35a604e6698859
attr di_gpt_wohnzimmerlicht DbLogExclude .*
attr di_gpt_wohnzimmerlicht room Sprachsteuerung
#########################################
# Esszimmer - Licht
#########################################
define di_gpt_esszimmerlicht DOIF ([GptVoiceCommand] =~ /(E|e)sszimmer.*Licht.*(an|ein|einschalten)/i ) (set wz_licht_1 on) DOELSEIF ([GptVoiceCommand] =~ /(E|e)sszimmer.*Licht.*(aus|ausschalten)/i ) (set wz_licht_1 off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_esszimmerlicht 67fbbdbe-f33f-824d-febd-fe792f04e6e9c5bb
attr di_gpt_esszimmerlicht DbLogExclude .*
attr di_gpt_esszimmerlicht room Sprachsteuerung
#########################################
# Dielen - Licht
#########################################
define di_gpt_dielenlicht DOIF ([GptVoiceCommand] =~ /(D|d)iele.*Licht.*(an|ein|einschalten)/i ) (set HM_6648C9 on) DOELSEIF ([GptVoiceCommand] =~ /(D|d)iele.*Licht.*(aus|ausschalten)/i ) (set HM_6648C9 off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_dielenlicht 67fbbdbe-f33f-824d-7776-b552eb6b9b0c91fb
attr di_gpt_dielenlicht DbLogExclude .*
attr di_gpt_dielenlicht room Sprachsteuerung
#########################################
# Terrasse - Licht
#########################################
define di_gpt_terrasselicht DOIF ([GptVoiceCommand] =~ /(T|t)erasse.*Licht.*(an|ein|einschalten)/i ) (set HM_6648FC on) DOELSEIF ([GptVoiceCommand] =~ /(T|t)erasse.*Licht.*(aus|ausschalten)/i ) (set HM_6648FC off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_terrasselicht 68034aea-f33f-824d-425f-c6a0420f9abd929d
attr di_gpt_terrasselicht DbLogExclude .*
attr di_gpt_terrasselicht room Sprachsteuerung


#########################################
# alle Rolladen 
#########################################
define di_gpt_Rolladen_Alle DOIF ([GptVoiceCommand] =~ /(tageslicht.*an)/i) (set Roll_Kueche on)(set Roll_Wohnz on)(set Roll_Schlaf1 on)(set Roll_Schlaf2 on)(set Roll_Bad on)(set Roll_Diele on)(set HM_731E63 on) DOELSEIF ([GptVoiceCommand] =~ /(tageslicht.*aus)/i) (set Roll_Kueche off)(set Roll_Wohnz off)(set Roll_Schlaf1 off)(set Roll_Schlaf2 off)(set Roll_Bad off)(set Roll_Diele off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rolladen_Alle 68064814-f33f-824d-fc90-9a23a44418ac49f7
attr di_gpt_Rolladen_Alle DbLogExclude .*
attr di_gpt_Rolladen_Alle room Sprachsteuerung
#########################################
# Küchen Rollade
#########################################
define di_gpt_Rollade_Kueche DOIF ([GptVoiceCommand] =~ /(K|k)üche.*Rollade.*(runter|zu)/i) (set Roll_Kueche off) DOELSEIF ([GptVoiceCommand] =~ /(K|k)üche.*Rollade.*(hoch|auf)/i) (set Roll_Kueche on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_Kueche 67fc2be5-f33f-824d-fe16-da59cee7b7cd11b8
attr di_gpt_Rollade_Kueche DbLogExclude .*
attr di_gpt_Rollade_Kueche cmdState STATE
attr di_gpt_Rollade_Kueche event-on-change-reading STATE
attr di_gpt_Rollade_Kueche room Sprachsteuerung
#########################################
# Wohnzimmer Rollade
#########################################
define di_gpt_Rollade_Wohnzimmer DOIF ([GptVoiceCommand] =~ /(W|w)ohnzimmer.*Rollade.*(runter|zu)/i) (set Roll_Wohnz off) DOELSEIF ([GptVoiceCommand] =~ /W|wohnzimmer.*Rollade.*(hoch|auf)/i) (sleep 1) (set Roll_Wohnz on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_Wohnzimmer 680540a9-f33f-824d-a3bb-49444bf40072971a
attr di_gpt_Rollade_Wohnzimmer DbLogExclude .*
attr di_gpt_Rollade_Wohnzimmer cmdState STATE
attr di_gpt_Rollade_Wohnzimmer event-on-change-reading STATE
attr di_gpt_Rollade_Wohnzimmer room Sprachsteuerung
#########################################
# Schlafzimmer beide
#########################################
define di_gpt_Rollade_Schlafzimmer DOIF ([GptVoiceCommand] =~ /(S|s)chlafzimmer.*Rollade.*(runter|zu)/i) (set Roll_Schlaf1 off)(set Roll_Schlaf2 off) DOELSEIF ([GptVoiceCommand] =~ /(S|s)chlafzimmer.*Rollade.*(hoch|auf|rauf)/i) (set Roll_Schlaf1 on)(set Roll_Schlaf2 on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_Schlafzimmer 6802f5e9-f33f-824d-fd0f-1c2cde7ecb87c1c8
attr di_gpt_Rollade_Schlafzimmer DbLogExclude .*
attr di_gpt_Rollade_Schlafzimmer room Sprachsteuerung
#########################################
# BAD Rollade
#########################################
define di_gpt_Rollade_BAD DOIF ([GptVoiceCommand] =~ /(B|b)ad.*Rollade.*(runter|zu)/i) (set Roll_Bad off) DOELSEIF ([GptVoiceCommand] =~ /(B|b)ad.*Rollade.*(hoch|auf|rauf)/i) (sleep 1)(set Roll_Bad on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_BAD 67fc12ea-f33f-824d-d3f4-e9b45066a52ef9d8
attr di_gpt_Rollade_BAD DbLogExclude .*
attr di_gpt_Rollade_BAD room Sprachsteuerung
#########################################
# Diele Rollade
#########################################
define di_gpt_Rollade_Diele DOIF ([GptVoiceCommand] =~ /(D|d)iele.*Rollade.*(runter|zu)/i) (set Roll_Diele off) DOELSEIF ([GptVoiceCommand] =~ /(D|d)iele.*Rollade.*(hoch|auf|rauf)/i) (set Roll_Diele on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_Diele 67fc12ea-f33f-824d-7b2d-11af317273105ce9
attr di_gpt_Rollade_Diele DbLogExclude .*
attr di_gpt_Rollade_Diele room Sprachsteuerung
#########################################
# Terrassentuer Rollade
#########################################
define di_gpt_Rollade_Terrassentuer DOIF ([GptVoiceCommand] =~ /(T|t)errassent(ü|ue)r.*Rollade.*(runter|zu)/i) (set HM_731E63 off) DOELSEIF ([GptVoiceCommand] =~ /(T|t)errassent(ü|ue)r.*Rollade.*(runter|zu)/i) (set HM_731E63 on) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Rollade_Terrassentuer 67fc12ea-f33f-824d-943b-557b3b2bca74436c
attr di_gpt_Rollade_Terrassentuer DbLogExclude .*
attr di_gpt_Rollade_Terrassentuer room Sprachsteuerung
#########################################
# Markise
#########################################
define di_gpt_Markise DOIF ([GptVoiceCommand] =~ /(M|m)arkise.*(raus|rausfahren|ausfahren)/i) (set Roll_Markise on) DOELSEIF ([GptVoiceCommand] =~ /(M|m)arkise.*(rein|reinfahren|einfahren)/i) (set Roll_Markise off) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_Markise 68034aea-f33f-824d-4ad4-820a32ac5ee157a2
attr di_gpt_Markise DbLogExclude .*
attr di_gpt_Markise room Sprachsteuerung
#########################################
## Rolladen Automatic
#########################################
define di_gpt_TagModus DOIF ([GptVoiceCommand] =~ /urlaub.*(modus|modus.*an|aktivieren|einschalten)/i) (set Tag_Modell Urlaub) DOELSEIF ([GptVoiceCommand] =~ /normal.*(modus|modus.*an|aktivieren|einschalten)/i) (set Tag_Modell Normal) DOELSE ({ Log 3, "❓ Ignoriert durch $SELF: $EVENT" })
setuuid di_gpt_TagModus 6806754a-f33f-824d-66af-517f9dca385025d7
attr di_gpt_TagModus DbLogExclude .*
attr di_gpt_TagModus room Sprachsteuerung
